/*estilo para términos y condiciones*/
.header-terminos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-terminos {
    background: #c6c6f0;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    font-size: 50px;
    border-left: 4px solid #6c63a4;
    text-align: center;
}

.subtitulo {
    background: #c6c6f0;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    font-size: 25px;
    border-left: 4px solid #6c63a4;
    text-align: center;
}

h1 {
    background: #c6c6f0;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-align: center;
    margin: 20px;
    color: #6c63a4;
    font-size: 30px;
    padding: 1rem;
    border-radius: 8px;
}

h3 {
    background: #c6c6f0;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-align: center;
    color: #6c63a4;
    margin: 20px;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
}

h4 {
    margin: 20px;
    color: #6c63a4;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .header-terminos {
        flex-direction: column;
    }

    .titulo-terminos {
        font-size: 22px;
    }

    .subtitulo {
        font-size: 18px;
    }

    h1 {
        font-size: 16px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }
}
